<a href="https://colab.research.google.com/github/ShardenduMishra22/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Pandas

**Pandas** comes from Panel Data

**Series in Pandas** A Series is a one-dimensional labeled array capable of holding any data type. The axis labels are collectively called the index.
A Series is a one-dimensional labeled array (like a single column), while a

**DataFrame** is a two-dimensional labeled table composed of one or more Series

In [5]:
import numpy as np
import pandas as pd

my_list = [10,20,30]
labels = ['a', 'b', 'c']
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [8]:
print("List to Series - ")
pd.Series(my_list)

List to Series -

0    10
1    20
2    30
dtype: int64

In [10]:
print("NumPy Array to Series - ")
pd.Series(arr)

NumPy Array to Series -

0    10
1    20
2    30
dtype: int64

In [11]:
print("Labels to Series - ")
pd.Series(labels)

Labels to Series -

0    a
1    b
2    c
dtype: object

In [12]:
print("Dictionary to Series - ")
pd.Series(d)

Dictionary to Series -

a    10
b    20
c    30
dtype: int64

In [16]:
import numpy as np
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [65000, 70000, 62000, 85000]
}

df = pd.DataFrame(data)

df

    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000